# ===============================
# 🐍 Python
# ===============================
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# ===============================
# 🔐 Virtual Environment
# ===============================
venv/
env/
ENV/
.venv/

# ===============================
# 🧪 Testing
# ===============================
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.pytest_cache/

# ===============================
# 📝 Logs
# ===============================
*.log

# ===============================
# 🔒 Environment variables
# ===============================
.env


# ===============================
# 🗄 Database
# ===============================
*.db
*.sqlite3

# ===============================
# 🖥 VS Code
# ===============================
.vscode/

# ===============================
# 🧠 PyCharm
# ===============================
.idea/

# =================
